@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    margin-left: 20%;   
    width: 80%;
    padding: 20px;
    
}

.extended-width {
    width: 200%;
    margin-left: 60%;
}

.vehicle-details, .business-details {
    margin-left: 30%;   
    padding: 20px;
}




